<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300&display=swap" rel="stylesheet">
  <link rel="shortcut icon" href="../Statics/Imagenes/icon.png">
  <link rel="stylesheet" href="../Statics/Estilos/estilos.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Formulario A7</title>
</head>
<body>
  <form action="../Dynamics/php/Act7.php" method="post">
    <fieldset>
      <legend> Registro </legend>
      Nombre(s): <input type="text" name="nombre" pattern="(^[A-Z][a-zñÑáéíóúÁÉÍÓÚ]+$)|(^[A-Z][a-zñÑáéíóúÁÉÍÓÚ]+[ ][A-Z][a-zñÑáéíóúÁÉÍÓÚ]+$)" title="Por favor introduce un Nombre que coincida con el formato solicitado" autocomplete="off" required><br><br>
      Apellido Paterno:<input type="text" name="apPat" pattern="(^[A-Z][a-zñÑáéíóúÁÉÍÓÚ]+$)" title="Por favor introduce un Apellido que coincida con el formato solicitado" autocomplete="off" required><br><br>
      Apellido Materno:<input type="text" name="apMat" pattern="(^[A-Z][a-zñÑáéíóúÁÉÍÓÚ]+$)" title="Por favor introduce un Apellido que coincida con el formato solicitado" autocomplete="off" required><br><br>
      Fecha de Nacimiento:<input type="date" name="fechaNac" pattern="[0-9]{4}+[\-]+[0-9]{2}+[\-]+[0-9]{2}+" title="Por favor introduce una Fecha de Nacimiento que coincida con el formato solicitado" required><br><br>
      Colegio:
      <select name="colegio" required>
        <optgroup label="Area I">
          <option value="Física"> Física </option>
          <option value="Informática"> Informática </option>
          <option value="Matemáticas"> Matemáticas </option>
      </optgroup>
      <optgroup label="Area II">
          <option value="Biología"> Biología </option>
          <option value="Educación Física"> Educación Física </option>
          <option value="Morfología, Fisiología y Salud"> Morfología, Fisiología y Salud </option>
          <option value="Orientación Educativa"> Orientación Educativa </option>
          <option value="Psicología e Higiene Mental"> Psicología e Higiene Mental </option>
          <option value="Química"> Química </option>
      </optgroup>
      <optgroup label="Area III">
          <option value="Ciencias Sociales"> Ciencias Sociales </option>
          <option value="Geografía"> Geografía </option>
          <option value="Historia"> Historia </option>
      </optgroup> 
      <optgroup label="Area IV">
        <option value="Alemán"> Alemán </option>
        <option value="Artes Plásticas"> Artes Plásticas </option>
        <option value="Danza"> Danza </option>
        <option value="Dibujo y Modelado"> Dibujo y Modelado </option>
        <option value="Filosofía"> Filosofía </option>
        <option value="Francés"> Francés </option>
        <option value="Inglés"> Inglés </option>
        <option value="Italiano"> Italiano </option>
        <option value="Letras Clásicas"> Letras Clásicas </option>
        <option value="Literatura"> Literatura </option>
        <option value="Música"> Música </option>
        <option value="Teatro"> Teatro </option>
      </optgroup>
      </select><br><br>
      Usuario: <input type="text" name="usuario" pattern="([a-zA-Z0-9][ ]*){10,20}+" title="Por favor introduce un Nombre de Usuario que coincida con el formato solicitado" autocomplete="off" required><br><br>
      RFC: <input type="text" name="rfc" pattern="^[A-Z]{4}[0-9]{6}[0-9A-Z]{3}$" title="" autocomplete="off"><br><br>
      Contraseña: <input type="password" name="password" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[!-+])([A-Za-z\d!-+]|[^ ]){10,20}$" title="Por favor introcuzca una contraseña segura (que tenga entre 10 y 20 caracteres, mínimo 1 minúscula, 1 mayúscula y 1 caractér especial)" autocomplete="off" required><br><br>
      <input type="submit" value="Enviar" id="boton">
    </fieldset>
  </form>
</body>
</html>
